.listMain{
    align-items: center;
    width: 400px;
    margin: 15px auto;
}

.listItems{
    list-style-type: none;
    margin: 0;
}

.listItems img{
    height: 150px;
    width: auto;
}

.listItems h2{
    margin: 0;
    padding: 10px;
}

.listItems:nth-child(odd) {
    border-left: 10px solid black;
    border-bottom: 10px solid rgb(71, 71, 71)
}
.listItems:nth-child(even) {
    border-right: 10px solid black;
    border-bottom: 10px solid rgb(71, 71, 71)
}