*{
    box-sizing: border-box;
}

.wrapper{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.wrapper img{
    height: 200px;
    width: auto;
}

.ratingBar{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    flex-grow: 0;
}

.listMain{
    align-items: center;
    width: 400px;
    margin: 15px auto;
}

.listItems{
    list-style-type: none;
    margin: 0;
}

.listItems img{
    height: 150px;
    width: auto;
}

.listItems h2{
    margin: 0;
    padding: 10px;
}

.listItems:nth-child(odd) {
    border-left: 10px solid black;
    border-bottom: 10px solid rgb(71, 71, 71)
}
.listItems:nth-child(even) {
    border-right: 10px solid black;
    border-bottom: 10px solid rgb(71, 71, 71)
}